#PROVIDE THAT VAR, ITS USED EVERYWHERE
export PATH=$(git rev-parse --show-toplevel)/bin:$(git rev-parse --show-toplevel)/installers/:$PATH
export REPO_ROOT="$(git rev-parse --show-toplevel)"
SUPPORTED_OS=( "darwin" "linux" )
for OS in "${SUPPORTED_OS[@]}"; do
  if [[ $(echo ${OSTYPE} | grep ${OS} ) ]]; then
    export OS=$OS
    break;
  fi
done

#GET AWS CREDS, TERRAFORM WILL USE AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY and AWS_DEFAULT_REGION
source .awsrc

#SOURCE QUAKE DEFAULTS
source ${REPO_ROOT}/configs/versions.rc
source ${REPO_ROOT}/configs/settings.rc


#MAP QUAKE VARS TO TF VARS
source ${REPO_ROOT}/configs/terraform_mapper.rc

